/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(to right, #bc8ff4, #ffa2ff);
    background: url('/assets/wallpapersden.com_anime-sunset-hd-ai-2023-art_1952x1120.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}